.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-pets{
    position: fixed;
    top: 0;
    width:100px;
    margin: 10px;
}